@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid red !important; */
    font-family: 'Inter', Arial, sans-serif;
    scroll-behavior: smooth;
}

:root,
body {
    @apply flex
        h-full
        w-full
        flex-col
        items-center
        overflow-y-auto;
}

@layer utilities {
    .px-container {
        @apply !max-w-none
          px-4
          md:px-6;
    }

    .card.card-responsive {
        @apply rounded-md
            md:rounded-xl;
    }

    .card.card-responsive .card-body {
        @apply p-0
            rounded-none
            md:p-4;
    }

    .card .card-body {
        @apply p-4;
    }

    .link[href] {
        @apply text-blue-600;
    }

    .link[href]:hover {
        @apply underline;
    }
}

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scrollbar-color: rgba(209, 213, 219, 1) transparent;
    }

    .scrollbar-thin::-webkit-scrollbar {
        @apply h-1
            w-1
            bg-transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        @apply rounded-full
            bg-gray-300/30;
    }
}
