{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "proseWrap": "always",
    "printWidth": 120,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ],
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-tailwindcss"
    ]
}