@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid red !important; */
    /* font-family: 'Inter', Arial, sans-serif; */
    scroll-behavior: smooth;
}

:root,
body {
    @apply flex
        h-full
        w-full
        flex-col
        items-center
        overflow-y-auto;
}

@layer components {
    .px-container {
        @apply w-full
          !max-w-none
          sm:px-[calc((100%-640px)/2)]
          md:px-[calc((100%-768px)/2)]
          lg:px-[calc((100%-1024px)/2)]
          xl:px-[calc((100%-1280px)/2)]
          2xl:px-[calc((100%-1536px)/2)];
    }

    .link[href] {
        @apply text-blue-600;
    }

    .link[href]:hover {
        @apply underline;
    }
}

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scrollbar-color: rgba(209, 213, 219, 1) transparent;
    }

    .scrollbar-thin::-webkit-scrollbar {
        @apply h-1
            w-1
            bg-transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        @apply rounded-full 
            bg-gray-300/30;
    }
}
